---
import {FACEBOOK_URL, INSTAGRAM_URL, PODCAST_URL, YOUTUBE_URL} from "../consts";
const today = new Date();
import microphoneIcon from '../assets/microphone.svg';
import facebookIcon from '../assets/facebook-outline.svg';
import youtubeIcon from '../assets/youtube-outline.svg';
import instagramIcon from '../assets/instagram-logo-thin.svg';
---

<footer>
	&copy; {today.getFullYear()} Bible Tidbits. All rights reserved.
    <div class="social-links">
        <a href={YOUTUBE_URL} target="_blank">
            <span class="sr-only">Go to the Bible Tidbits YouTube channel</span>
            <img src={youtubeIcon.src} alt="YouTube" width="28" height="28" />
        </a>
        <a href={PODCAST_URL} target="_blank">
            <span class="sr-only">Listen to the Podcast</span>
            <img src={microphoneIcon.src} alt="Podcast" width="28" height="28" />
        </a>
        <a href={INSTAGRAM_URL} target="_blank">
            <span class="sr-only">Go to the Bible Tidbits Instagram page</span>
            <img src={instagramIcon.src} alt="Instagram" width="28" height="28" />
        </a>
        <a href={FACEBOOK_URL} target="_blank">
            <span class="sr-only">Go to the Bible Tidbits Facebook page</span>
            <img src={facebookIcon.src} alt="Facebook" width="28" height="28" />
        </a>
    </div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
